 <style>
    footer {
        background-color: #ffffff!important;
        font-size: 12px;
    }
</style>
 
    <footer class="p-2" dir="ltr">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-sm-12">
            <ul class="list-inline">
              <li class="list-inline-item"><a href="#">English (US)</a></li>
              <li class="list-inline-item"><a href="#">Español</a></li>
              <li class="list-inline-item"><a href="#">Français (France)</a></li>
              <li class="list-inline-item"><a href="#">中文(简体)</a></li>
              <li class="list-inline-item"><a href="#">العربية</a></li>
              <li class="list-inline-item"><a href="#">Português (Brasil)</a></li>
              <li class="list-inline-item"><a href="#">Italiano</a></li>
              <li class="list-inline-item"><a href="#">한국어</a></li>
              <li class="list-inline-item"><a href="#">Deutsch</a></li>
              <li class="list-inline-item"><a href="#">हिन्दी</a></li>
              <li class="list-inline-item"><a href="#">日本語</a></li>
              <li class="list-inline-item">
                <a href="#" class="btn-secondary btn-add-language">
                  <i class="fas fa-plus fa-1x text-white"></i>
                </a>
              </li>
            </ul>
            <hr>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="#">Sign Up</a></li>
              <li class="list-inline-item"><a href="#">Log In</a></li>
              <li class="list-inline-item"><a href="#">Messenger</a></li>
              <li class="list-inline-item"><a href="#">Facebook Lite</a></li>
              <li class="list-inline-item"><a href="#">Watch</a></li>
              <li class="list-inline-item"><a href="#">People</a></li>
              <li class="list-inline-item"><a href="#">Profiles</a></li>
              <li class="list-inline-item"><a href="#">Pages</a></li>
              <li class="list-inline-item"><a href="#">Pages Categories</a></li>
              <li class="list-inline-item"><a href="#">Events</a></li>
              <li class="list-inline-item"><a href="#">Places</a></li>
              <li class="list-inline-item"><a href="#">Games</a></li>
              <li class="list-inline-item"><a href="#">Locations</a></li>
              <li class="list-inline-item"><a href="#">Marketplace</a></li>
              <li class="list-inline-item"><a href="#">Groups</a></li>
              <li class="list-inline-item"><a href="#">Instagram</a></li>
              <li class="list-inline-item"><a href="#">Local</a></li>
              <li class="list-inline-item"><a href="#">Fundraisers</a></li>
              <li class="list-inline-item"><a href="#">Services</a></li>
              <li class="list-inline-item"><a href="#">About</a></li>
              <li class="list-inline-item"><a href="#">Create Ad</a></li>
              <li class="list-inline-item"><a href="#">Create Page</a></li>
              <li class="list-inline-item"><a href="#">Developers</a></li>
              <li class="list-inline-item"><a href="#">Careers</a></li>
              <li class="list-inline-item"><a href="#">Privacy</a></li>
              <li class="list-inline-item"><a href="#">Cookies</a></li>
              <li class="list-inline-item"><a href="#">Cookies</a></li>
              <li class="list-inline-item"><a href="#">Ad Choices <i class="fas fa-ad"></i></a></li>
              <li class="list-inline-item"><a href="#">Terms</a></li>
              <li class="list-inline-item"><a href="#">Account Security</a></li>
              <li class="list-inline-item"><a href="#">Login Help</a></li>      
              <li class="list-inline-item"><a href="#">Help</a></li>
            </ul>            
          </div>
        </div>
      </div>
    </footer>
