<!-- Modal -->
<div class="modal fade" id="siteModal" tabindex="-1" role="dialog" aria-labelledby="siteModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLongTitle">ﻻ يمكنك الإعجاب وﻻ التعليق وﻻ المشاركة</h5>
        
      </div>
      <div class="modal-body alert alert-danger text-center">
        إذا ظهر لك هذا الإشعار، فهذا يدل على أنك الشخص المشار إليه في هذا المنشور، وتم إبلاغ الجهات المختصة لاتخاذ اللازم.
      </div>
      <div class="modal-footer">


    </div>
    </div>
  </div>
</div>
