{% load static %}

<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "../static/css/theme.css" %}">
    <link rel="stylesheet" href="{% static "../static/css/bootstrap.min.css" %}">
    <script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
    <link rel="shortcut icon" href="{% static "../static/img/facebook-logo-2019.ico" %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

    <title>القبض على يحيى خفاجى</title>

    <style>

        body{
            font-family: "Tajawal", sans-serif;
            font-optical-sizing: auto;
            font-weight: bold;
            font-style: normal;
        }

  </style>
</head>

<body class="bg-gray" dir="rtl">

<div class="container mt-5 mb-5">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="d-flex justify-content-between p-2 px-3">
                    <div class="d-flex flex-row align-items-center"> <img src="https://cdn.iconscout.com/icon/free/png-512/free-media-reporter-1184508.png?f=webp&w=256" width="50" class="rounded-circle">
                        <div class="d-flex flex-column ml-2"> <span class="font-weight-bold me-2">الصحفية ندا البيلي</span> <small class="text-muted me-2">
                            <i class="fa-solid fa-earth-americas ms-1" title="تمت المشاركة مع العامة"></i>
                        25 دقيقة</small> </div>
                    </div>
                    <div class="d-flex flex-row mt-1 ellipsis">

                         <i class="fa fa-ellipsis-h mx-3"></i> 
                        <i class="fa-solid fa-xmark"></i>
                        </div>
                </div> 

                <p class="text-justify p-3 mb-0">تم القبض على المدعو/ يحيى خفاجى بتهمة الكسب غير المشروع، وجاري العرض على النيابة العامة للتحقيق في هذا الأمر.</p>
                <img src="{% static "../static/img/yehia.jpg" %}" class="img-fluid">
                <div class="p-2">
                    
                    {% include "emotions.html" %}

                    <hr class="my-2">
                    <div class="d-flex justify-content-between align-items-center">

                        <div class="d-flex flex-row"> 
                            <span class="text-muted mx-5">
                                <i class="fa-regular fa-thumbs-up"></i>
                                أعجبني
                            </span>

                            <span class="text-muted mx-5">
                                <i class="fa-regular fa-comment"></i>
                                تعليق
                            </span>

                            <span class="text-muted mx-5">
                                <i class="fa-regular fa-share"></i>
                                مشاركة
                            </span>
                        </div>
                    </div>
                    <hr class="my-2">

                    <div class="comments">

                        <div class="d-flex flex-row mb-1"> 
                            <img src="https://i.imgur.com/9AZ2QX1.jpg" width="40" height="30" class="rounded-4 ms-2">

                            <div class="d-flex flex-column ml-2 p-2 rounded-1" style="background-color:#EBEDF0;"> <span class="name">محمود وائل</span> <small class="comment-text text-muted">الواد دا مكنتش برتاح له من زمان أساسا</small>
                            </div>
                            </div>

                            <div class="mt-0 mx-5 d-flex flex-row align-items-center status">

                                <small class="text-muted">أعجبني</small>
                                <small class="mx-3 text-muted">تعليق</small>
                                <small class="mx-5 text-muted">5 د</small>

                                </div>
                        </div>

                        <div class="comment-input mx-5 mt-3 p-2"> 
                                <i class="fa-regular fa-comment text-dark fa-1x mx-2"></i>
            
                            <span class="text-muted">
                                تم غلق ميزة التعليقات بناء على طلب صاحب المنشور
                            </span>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    

    <script src="{% static "../static/js/theme.js" %}"></script>
    <script src="{% static "../static/js/bootstrap.min.js" %}"></script>
    <script src="{% static 'fontawesomefree/js/fontawesome.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/solid.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/brands.js' %}"></script>

</body>

</html>
